<!DOCTYPE html>
<html>
    <body>
        <div class="text-center jumbotron">
            <h1>Welcome to Alpha Blog!</h1>
            <p>Start your blog, today.</p>
     
            <%= link_to 'Get Started', "#", class: "btn btn-danger btn-lg btn-xlarge" %>
       </div>
    
    </body>
</html>