<!DOCTYPE html>
<html>
    <body>
        <header> 
            <div class="container" id="header-img">
                <div class="row">
                    <div class="col-md-12" id="home-header">
                        <h1>Welcome to Alpha Blog!</h1>
                        <p id="home-text">Start your very own blog, today. Share your adventures with the world!</p>
                        <%= link_to 'Get Started', signup_path, class: "btn btn-primary btn-xlarge" %>
                   </div>
               </div>
           </div>
       </header>
    
    </body>
</html>