$navbar-default-bg: #0984e3;

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome.css";
.navbar-default {
    border-radius: 0;
    height: 75px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
    //         0 4px 20px 0 rgba(0,0,0,0.19);
}

#bs-example-navbar-collapse-1 {
    background-color: #0984e3;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #b2bec3;
}
#bs-example-navbar-collapse-1 > ul {
    margin-right: 150px;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #edf3f3;
}
#logo {
    margin-top: 10px;
    margin-left: 150px;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    float: left;
    font-size: 2.2em;
    letter-spacing: -1px;
    font-weight: 500;
}
#logo:hover {
    color: #eaeaea;
    text-decoration: none;
}
#articles-head > div, 
#users-head > div {
    margin-top: 40px;
}

header h1 {
    font-family: 'Arima Madurai', cursive;
  color: #000;
  margin-top: 200px;
  margin-left: 50px;
//   margin-bottom: 30px;
  letter-spacing: -2px;
  font-size: 4.75em;
  font-weight: 600;
  font-style: italic;
  text-shadow: #fff 1px 0 5px;
  
}
#home-header{
    background-image: asset-url('tech.jpg');
    background-position: center;
    background-size: cover;
    min-height: 550px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
#home-text{
    margin-left: 50px;
    color: #000;
    font-size: 1.25em;
    text-shadow: #fff 1px 0 10px;
}
.btn-xlarge {
    margin-top: 40px;
    font-size: 1.7em;
    background-color: #0984e3;
    border-color: #0984e3;
    margin-left: 50px;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.btn-lg {
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    border-radius: 1px;
    background-color: #0984e3;
    border-color: #0984e3;
}
.btn-lg:hover {
    color: #0984e3;
    background-color: #fff;
    border-color: #0984e3;
}


.btn-xs {
    border-radius: 1px;
    font-weight: 500;
}
.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    
}
.article-actions {
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
p {
   font-size: 1.25em; 
}
.title > h2 {
    font-size: 1.7em;
    font-weight: 600;
}

#articles-head {
    background-image: asset-url('write.jpeg');
    background-position: center center;
    background-size: cover;
    min-height: 360px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
#users-head {
    background-image: asset-url('tech.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 360px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    
}

body > div:nth-child(3) > div.jumbotron {
    border-radius: 1px;
}

#categories > div {
    box-shadow: none;
    border-radius: 0;
}

.panel-heading {
    padding: 5px 15px 10px 15px;
   
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #0984e3;
    font-family: 'Arima Madurai', cursive;
}
.panel-title {
    font-weight: 500;
    font-size: 1.0em;
    text-align: center;
    
}
.panel-title a{
    color: #fff;
    
} 
small {
    font-size: 12px;
}

.panel-default {
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    border-radius: 1px;
}
.panel-body {
    font-size: 16px;
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar-title2 {
    font-family: 'Arima Madurai', cursive;
    margin-top: 0;
    color: #fff;
    font-style: italic;
    background-color: #0984e3;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    text-align: center;
}
.badge {
    background-color: #2d3436;
    color: #fff;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
    
}
.list-group-item > .badge {
    float: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
#cat-list {
    font-size: 18px;
}

.listing {
    list-style: none;
    padding-left: 0;
}
#flash_success {
    text-align: center;
}
footer{
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer:hover{
    color: #222;
}
footer small{
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
    color: #222;
    
}

.pagination > .active > a,
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus ,{
    z-index: 3;
    color: #fff;
    background-color: #0984e3;
    border-color: #0984e3;
    cursor: default;
}
.pagination > li > a, .pagination > li > span {
    color: #0984e3;
}

label {
    float: left;
    font-size: 16px;
}
#category_name,
#article_title,
#session_email,
#session_password,
#user_username,
#user_email,
#user_password {
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 1.428571429;
}
#article_description {
    width: 100%;
    font-size: 20px;
    line-height: 1.428571429;
}


hr {
    margin-top: 0;
    margin-bottom: 5px;
}
#user-grid {
    margin-top: 30px;
}
.thumbnail {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.img-thumbnail {
    margin-top: 5px;
}
#user-grid > p {
    font-size: 16px;
}
#user-link a {
    color: #000;
}
// #user-grid > div > div > div {
//     margin-bottom: 5px;
// }
.list-group {
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.list-group-item {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    
    
}
#article-count {
    color: #000;
    font-size: 16px;
}
body > div:nth-child(3) > div.jumbotron > div > h1 {
    font-family: 'Arima Madurai', cursive;
    color: white;
    text-shadow: #000 1px 0 7px;
    font-weight: 600;
    font-style: italic;
    

}
body > div:nth-child(3) > div.jumbotron > div > p {
    font-family: 'Arimo', sans-serif;
    color: white;
    text-shadow: #000 1px 0 7px;
    font-weight: 600;
    font-style: italic;
}

body > div:nth-child(3) > div.jumbotron > div > h1 > i {
    color: #fff;
}

.input_checkbox input {
    width: auto !important;
}
#tags {
    font-size: 14px;
}

#tags > span > a {
    color: #fff;
}

#cat-head > div > div > span > a
{
    color: #2d3436;
}
#cat-head > div > div > span {
    border: 1px solid #fff;
    background: #fff;
    color: #2d3436;
    margin-left: 15px;
}
#cat-head > div > h1{
    margin-top: 40px;
}
#cat-head > div > h1,
#cat-head > div > p
{
    color: white;
    text-shadow: #000 1px 0 5px;
    font-weight: 600;
    
}
#cat-head > div > p{
    font-family: 'Arimo', sans-serif;
}
#cat-head > div > h1 > i {
    color: white;
    text-shadow: #000 1px 0 5px;
    font-weight: 400;
}
#cat-head {
    background-color: #636e72;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    min-height: 350px;
}
#profile-head {
    background-color: #0984e3;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    min-height: 350px;
}
#profile-head > div > h1 {
    font-size: 32px;
    
}
#profile-head > div > h1,
#profile-head > div > p,
{
    color: white;
    text-shadow: none;
    font-weight: 500;
    
}
.profile-text {
    font-size: 14px;
    margin-bottom: 10px;
}
#new-button{ 
    margin-top: 0;
    
}
label {
    font-family: 'Arima Madurai', cursive;
    font-size: 18px;
}

#page-title {
    font-family: 'Arima Madurai', cursive;
}