$navbar-default-bg: #2d3436;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.css";

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #eaeaea;
    font-weight: 400;
}
body {
    font-family: 'Arimo', sans-serif;
}
#logo {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 600;
}
#logo:hover {
    color: #eaeaea;
    text-decoration: none;
}
header h1{
  color: #fff;
  margin-top: 200px;
  margin-left: 80px;
//   margin-bottom: 30px;
  letter-spacing: -1px;
  font-size: 4.5em;
  font-weight: 500;
  font-style: italic;
}
#home-header{
    background-image: asset-url('items.jpg');
    background-position: center;
    background-size: cover;
    min-height: 720px;
}
#home-text{
    margin-left: 80px;
    color: #fff;
    font-size: 2.0em;
}
.btn-xlarge {
    margin-top: 40px;
    font-size: 1.7em;
    background-color: #0984e3;
    border-color: #0984e3;
    margin-left: 80px;
    padding: 20px;
    border-radius: 1px;
}
.btn-lg {
    margin-top: 30px;
    padding: 10px;
    border-radius: 1px;
}
.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    
}
.article-actions {
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.panel-heading {
    padding: 5px 15px 10px 15px;
}
.panel-title {
    font-weight: 500;
    font-size: 1.7em;
    
}
.panel-title a{
    color: black;
} 
small {
    font-size: 12px;
}

.panel-default {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
                0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 1px;
}
.panel-body {
    font-size: 14px;
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.listing {
    list-style: none;
    padding-left: 0;
}
#flash_success {
    text-align: center;
}
footer{
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer:hover{
    color: #222;
}
footer small{
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    margin-left: 15px;
    color: #222;
}

.pagination > .active > a,
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus ,{
    z-index: 3;
    color: #fff;
    background-color: #414345;
    border-color: #414345;
    cursor: default;
}
.pagination > li > a, .pagination > li > span {
    color: #414345;
}

label {
    float: left;
    font-size: 16px;
}

#session_email,
#session_password,
#user_username,
#user_email,
#user_password {
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 1.428571429;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
}
#user-grid {
    margin-top: 30px;
}
.thumbnail {
    border-radius: 1px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
                0 4px 20px 0 rgba(0,0,0,0.19);
}
#user-link a {
    color: black;
}